thead tr {background-color: #dcdee2; border-bottom: 1px solid #555;}
thead th {padding: 5px 10px 5px 10px; }
tbody tr {border-bottom: 1px solid #c1c1c1; }
tbody td {padding: 5px 10px 5px 10px; }


.table_list {
  border-collapse: collapse;
  width: 100%;
}


.wrapper {
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.table_wrapper {
  min-width: 20rem;
}

.toolbar_frame {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.toolbar {
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.6rem;
  font-weight: bold;
  border: 0.1rem solid #DCE0FF;
  border-radius: 0.7rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #8887A0;
  background-color: white;
}

.toolbar:hover {
    background-color: #DCE0FF;
    color: #305E76;
}

.btn {
    float: right;
    width: 5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    margin-left:0.5rem;
    -webkit-appearance: button;
    cursor: pointer;
}

.hidden {display:none;}

.table_item_link {
    text-decoration: none;
    color: #303030
}
.table_item_link:hover {
    text-decoration: underline;
    color: #305ECC;
}


.check {text-align: center; width: 15px;}
.id {text-align: center; width: 40px;}
.name {text-align: left;}
.modified {text-align: center; width: 200px;}

.page_title {
    height: 2.5rem;
    width: auto;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #99C5C0;
    border-bottom:0.5rem solid #99C5C0;
    border-left:0.5rem solid #99C5C0;
}


.icon_small {
  height: 1.5rem;
  display: inline-block;
  float: left;
  margin-top: 0.5rem;
  margin-left: 1.0rem;
  margin-right: 0.5rem;
}

.icon_btn {
  height: 1.5rem;
  display: inline-block;
  line-height: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  filter: invert(.5) sepia(1) hue-rotate(200deg) saturate(200%);
}

.icon_white { filter: invert(1); }
.icon_gray { filter: invert(.5); }
.icon_red { filter: invert(.5) sepia(1) hue-rotate(280deg) saturate(120%); }
.icon_purple { filter: invert(.5) sepia(1) hue-rotate(210deg) saturate(120%); }
.icon_blue { filter: invert(.5) sepia(1) hue-rotate(160deg) saturate(120%); }
.icon_green { filter: invert(.5) sepia(1) hue-rotate(90deg) saturate(120%); }
