.confusion-matrix table {
  width: 400px;
  margin-bottom: 20px;
}

.confusion-matrix h4 {
  margin-bottom: 0px;
}

div.confusion-matrix {
  display: inline-block;
  padding-right: 30px;
}

.confusion-matrix td.left-border {
  background-color: #ECECEC;
  width: 5rem;
}

.confusion-matrix th {
  font-weight: normal;
}

.matrix_item{
  display: table;
  width: 100%;
}

.matrix_item_label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-right: 3px solid #77777750;
  border-radius: 1rem;
  width: auto;
  padding-right: 0.5rem;
}

.matrix_item_value {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 3rem;
  font-weight: bold;
}