.factor_dialog_labels {
    font-size: 0.8rem;
    width: 100%;
}

.factor_dialog_name {
    font-size: 1.0rem;
    color: #A9A9A9;
    width: calc(100% - 0.7rem);
}

.factor_dialog_alias {
    width: calc(100% - 0.7rem);
}

.factor_dialog_description {
    font-size: 0.8rem;
    width: calc(100% - 0.5rem);
}



