.labels {
    width: 25%;
    display: inline-table;
}

.alias {
    width: 70%;
}

.weight {
    text-align: right;
    width: 70%;
}

.description {
    width: 100%;
}

.btn {
    float: right;
    width: 5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    margin-left:0.5rem;
}

