.factor_dialog_labels {
    font-size: 0.8rem;
    width: 100%;
}

.factor_dialog_name {
    font-size: 1.0rem;
    color: #A9A9A9;
    width: 95%;
}

.factor_dialog_alias {
    width: 95%;
}

.factor_dialog_weight {
    text-align: right;
    width: 95%;
}

.description {
    font-size: 0.8rem;
}



