.logo {
    height: 2.5rem;
    background-color: #212529;
    width: 100%;
    line-height: 2.5rem;
    color: gray;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #343a40;
    height: 3.5rem;
}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration: none;
    border-left: 0.1rem solid #333333;
    background-color: #495057;
}

.menu-item:hover {
    background-color: #606060;
}

.menu-item:active, .menu-item.active {
    background-color: #1862ab;
}