.header_table {
    background-color: #505D70;
    width: 100%;
    min-width: 60rem;
    border-collapse: collapse;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header_title_td {
    width: 16rem;
}

.header_title_div {
    position: relative;
    top: 0.7rem;
    display: inline;
}

.header_title_icon {
    height: 3.0rem;
    display: inline-block;
    float: left;
    margin-right: 0.5rem;
}

.header_title_text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    color: #D9E5D9;
    text-align: left;
}

.header_title_text_big {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    color: #C0EFFF;
}

.header_table_menu {
    line-height: 2.5rem;
    display: table-cell;
    width: calc(100% - 16.28rem);
}

.menu-item {
    display: inline-block;
    color: #E3E3E3;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    height: 2.4rem;
    width: 9rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
    text-decoration: none;
    background-color: #505D70;
}

.menu-item:hover {
    background-color: #657080;
    color: #FFFFFF;
}