body {
  font-size: 14px;
}

textarea {
  /* border: 2px solid #ccc; */
  border-color: #ccc;
  width: 500px;
  height: 50px;
  resize: vertical;
}

.comment-tooltip {background-color: white; border: 1px solid #555; width: 100px; height: 100px; padding: 10px}
.comment-tooltip p {font-size: 0.8em;}
.comment-tooltip input {width: 80px;}
.chart-bar {height: 10px;}

.balance-button {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  outline: none;
  padding: 3px 6px 4px 6px;
  transition: all 200ms ease;
  font-size: 14px;
  margin-left: 6px;
}

.balance-button:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

input {
  font-size: 14px;
  padding: 2px 3px 3px 3px;
}

.box-icon {
  float: left;
  height: 15px;
  width: 15px;
}

.balance-button:disabled {
  background-color: lightgray;
  color: gray;
}

.balance-button.selected {
  background-color: palegreen;
}

.factor-detail .Dropdown-control {
  padding-right: 6px;
}

.factor-detail {
  cursor: pointer;
  float: right;
}

.comment-detail {
  cursor: pointer;
  float: right;
}

.factor_enabled {
    color: #000000;
}

.factor_disabled {
    color: #B9B9B9;
    text-decoration:line-through;
}
