body {
  font-size: 14px;
}

textarea {
  /* border: 2px solid #ccc; */
  border-color: #ccc;
  height: 2rem;
  resize: vertical;
}

.comment-tooltip {background-color: white; border: 1px solid #555; width: 100px; height: 100px; padding: 10px}
.comment-tooltip p {font-size: 0.8em;}
.comment-tooltip input {width: 80px;}
.chart-bar {height: 10px;}

.balance-button {
  position: relative;
  background-color: white;
  border: 2px solid #99A999;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  outline: none;
  padding: 3px 6px 4px 6px;
  transition: all 200ms ease;
  font-family: verdana;
  font-size: 14px;
  margin-left: 6px;
}

.balance-button:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

input {
  font-size: 14px;
  padding: 2px 3px 3px 3px;
}

.box-icon {
  float: left;
  height: 15px;
  width: 15px;
}

.balance-button:disabled {
  border-color: #DADADA;
  background-color: white;
  color: #DADADA;
}

.balance-button.selected {
  background-color: #20EFC0;
}

.factor_enabled {
    color: #000000;
    margin-left: 0.5rem;
}

.factor_disabled {
    color: #B9B9B9;
    text-decoration:line-through;
    margin-left: 0.5rem;
}

.icon_list {
    display: inline-block;
    width: 1.1rem;
}

.icon_empty {
    width: 1rem;
}

.icon_comment {
    width: 1.9rem;
    filter: invert(.4) sepia(1) hue-rotate(160deg) saturate(300%);
}

.icon_comment_empty {
    width: 1.1rem;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    filter: invert(.5) opacity(70%);
}

.comment_column {
  text-align: center;
}

.model_description {
    width: 100%;
    min-height: 4rem;
    margin-top: 0.5rem;
}

.factor_header_name {
    width: auto;
    text-align: center;
}

.factor_header_slider {
    width: 300px;
    min-width: 220px;
    text-align: center;
}

.factor_header_comment {
    width: 5rem;
    text-align: center;
}

.factor_header_balance {
    width: 7.5rem;
    text-align: center;
}

.factor_header_weight {
    width: 4rem;
    text-align: center;
}

.factor_header_odds_ratio {
    width: 8rem;
    text-align: center;
}

.input_weight {
    text-align: left;
    width: 2.7rem;
}

.factor-odds-ratio {
    text-align: center;
}

.div_description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width:99%;
  border-left: 0.25rem solid lightgray;
  padding-left: 0.3rem;
}

.div_model_attribute {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
  border-left: 0.25rem solid lightgray;
  min-height: 1.5rem;
  vertical-align: middle;
}

.header_likely_left {
  float: left;
  color : #aa6bf9;
}

.header_likely_right {
  float: right;
  color : #75acff;
}

.header_likely_center {
  text-align: center;
  color : #909090;
}

.msg_dialog {
  display : block;
  min-width: 15rem;
  min-height: 4rem;
  max-width: 40rem;
  text-align: center;
  color: #000000;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  white-space: pre-line;
}

.ReactModal__Content {
    max-height: 30rem;
}

.msg_close_btn {
    display : block;
    width: 50%;
    height: 2rem;
    font-family: "Verdana";
    font-size: 0.9rem;
    margin-left:25%;
    margin-bottom: 1rem;
    border: 0.1rem solid #7096C9;
    border-radius: 1rem;
    background-color: white;
    color: #507095;
    cursor: pointer;
    text-align: center;
}

.center-contents {
    text-align: center;
}
