.result_bucket {
  display: table;
  table-layout: fixed;
  width: 14rem;
  height: 8rem;
  word-break: break-all;
  font-family: "Verdana";
  font-size: 1rem;
  line-height: 0.7rem;
  font-weight: bold;
  letter-spacing:0.01rem;
}

.positive_bucket {
  display: table-cell;
  border-left: 0.5rem solid blue;
  border-right: 0.5rem solid blue;
  border-top: 0.5rem solid blue;
  padding: 0.2rem;
  vertical-align: top;
  width: 6.2rem;
  height: 9rem;
  transform: rotate(-180deg);
}

.center_bucket {
  display: table-cell;
  width: 6rem;
  height: 9rem;
}

.negative_bucket {
  display: table-cell;
  border-left: 0.5rem solid red;
  border-right: 0.5rem solid red;
  border-top: 0.5rem solid red;
  padding: 0.2rem;
  vertical-align: top;
  width: 6.2rem;
  height: 9rem;
  transform: rotate(-180deg);
}

.ball_true_positive {
  color: blue;
}

.ball_false_positive {
  color: red;
}

.ball_true_negative {
  color: red;
}

.ball_false_negative {
  color: blue;
}
